
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @Scripts.Render("~/Scripts/Elements/General/menu")

@Styles.Render("~/Styles/Elements/General")

<div class="row">
    <div class="col-xs-12">
        <div class="box" style="background-color:transparent">
            <div class="box-body">
                <div id="carousel-example-generic" class="col-xs-12 carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/img/LEARM.png" alt="First slide">
                            <div class="carousel-caption">
                                First Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/LEARM2.png" alt="Second slide">
                            <div class="carousel-caption">
                                Second Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/LEARM3.png" alt="Third slide">
                            <div class="carousel-caption">
                                Third Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/LEARM4.png" alt="Fourth slide">
                            <div class="carousel-caption">
                                Third Slide
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Session["NumberOfEmployees"]</h3>
                <p>Employee Records</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    @Session["NumberOfNewlyEmployees"]
                </h3>
                <p>Newly Employed</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Session["NumberOfActiveEmployees"]</h3>
                <p>Active Employees</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>@Session["NumberOfInactiveEmployees"]</h3>
                <p>In-Active Employees</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

    @section ViewSpecificJavascript{
        @*@Scripts.Render("~/AdminLTE/plugins/datatables/js")*@
        @Scripts.Render("~/Scripts/Tables/Data")
    }





