
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/plugins/datepicker/css")
@Styles.Render("~/Content/plugins/daterangepicker/css")
@*@Scripts.Render("~/Scripts/Elements/General/menu")

    @Styles.Render("~/Styles/Elements/General")*@

<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
	        animationEnabled: true,
	        theme: "light2", // "light1", "light2", "dark1", "dark2"
	        title: {
		        text: "Number of Certified Employees under Each Certificate"
	        },
	        axisY: {
		        title: "No. of Employees"
	        },
	        data: [{
		        type: "column",
		        dataPoints: @Html.Raw(ViewBag.DataPoints)
	        }]
        });
        chart.render();
        var today = new Date();
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
       
        var date = monthNames[(today.getMonth())]+ ' ' + today.getDate() + ' ' + today.getFullYear() ;
        var piechart = new CanvasJS.Chart("PieChart", {
	        theme: "light1", // "light1", "light2", "dark1", "dark2"
	        exportEnabled: true,
	        animationEnabled: true,
	        title: {
		        text: "Cerified - Uncertified Employees"
	        },
            subtitles: [{
                text: date
	        }],
	        data: [{
		        type: "pie",
		        startAngle: 180,
		        toolTipContent: "<b>{label}</b>: {y}",
		        showInLegend: "true",
		        legendText: "{label}",
		        indexLabel: "{label} - {y}",
		        dataPoints: @Html.Raw(ViewBag.PiePoints)
	        }]
            });
            piechart.render();

            var monthchart = new CanvasJS.Chart("MonthsChart", {
	        theme: "light2", // "light1", "light2", "dark1", "dark2"
	        animationEnabled: true,
	        title: {
		        text: "Monthly Records for Certified Employees"
	        },
	        axisX: {
		        interval: 1
	        },
	        axisY: {
		        valueFormatString: ""
	        },
	        data: [{
		        type: "waterfall",
		        yValueFormatString: "",
		        indexLabelOrientation: "vertical",
		        indexLabelFontColor: "black",
		        risingColor: "#73C2FB",
		        fallingColor: "#FFA571",
		        dataPoints: @Html.Raw(ViewBag.MonthChartPoints)
	        }]
            });
           monthchart.render();
            $(".canvasjs-chart-credit").hide();
    }
</script>


@*<div class="row">*@
    @*<h1>@ViewBag.DateToday</h1>*@
    @*<div class="col-xs-12">
        <div class="box" style="background-color:transparent">
            <div class="box-body">
                <div id="carousel-example-generic" class="col-xs-12 carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/img/Lear1.jpg" alt="First slide">
                            <div class="carousel-caption">
                                First Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Lear2.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                Second Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Lear3.jpg" alt="Third slide">
                            <div class="carousel-caption">
                                Third Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Lear4.jpg" alt="Fourth slide">
                            <div class="carousel-caption">
                                Fourth Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Lear5.jpg" alt="Fifth slide">
                            <div class="carousel-caption">
                                Fifth Slide
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Session["NumberOfEmployees"]</h3>
                <p>Employee Records</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    @Session["NumberOfNewlyEmployees"]
                </h3>
                <p>Newly Employed</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Session["NumberOfActiveEmployees"]</h3>
                <p>Active Employees</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>@Session["NumberOfInactiveEmployees"]</h3>
                <p>In-Active Employees</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
        <div class="nav-tabs-custom" id="chartContainer"></div>
    </div>
    <div class="col-md-6">
        <div class="nav-tabs-custom" id="PieChart"></div>
    </div>

    @*<div id="chartContainer" style="height: 370px; width: 100%;"></div>*@
    
</div>
<div class="row" style="margin-top:400px">
    <div class="col-md-12">
      <div class="nav-tabs-custom" id="MonthsChart"></div>
    </div>
</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    $(document).ready(function () {
        $(".canvasjs-chart-credit").hide();
    })
</script>

@section ViewSpecificJavascript{
    @*@Scripts.Render("~/AdminLTE/plugins/datatables/js")*@
    @Scripts.Render("~/Scripts/Tables/Data")
    @Scripts.Render("~/Content/plugins/datepicker/js")
    @Scripts.Render("~/Content/plugins/daterangepicker/js")
}





