@model DCRSystem.CustomViewModel.EmployeeModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action(ViewBag.URLBack, "IT")" class="" style="padding-top:0px;color:brown"><h5>&nbsp;<span><img src="~/Content/img/Button-Back-1-512.png" class="img-circle" height="30" width="30" title="BACK" /> </span></h5></a>
<div class="row">
    <div class="col-md-3">
        @if (Model.Employee.Job_Status.ToUpper().Contains("CURRENT"))
        {
            <a onclick="ShowProfile()" class="btn btn-primary btn-block"><b>@Model.Employee.Last_Name , @Model.Employee.First_Name</b></a>
        }
        else
        {
            <a onclick="ShowProfile()" class="btn btn-danger btn-block"><b>@Model.Employee.Last_Name , @Model.Employee.First_Name</b></a>
        }
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Details</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    @if (Model.Employee.Job_Status.ToUpper().Contains("CURRENT"))
                    {
                        if (Model.Employee.PlanRecertificationDate != null)
                        {
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar"></i>Plan For Re-Certification
                                    <span class="label label-primary pull-right">@Convert.ToDateTime(Model.Employee.PlanRecertificationDate).ToString("MMMM").ToUpper()</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar"></i> Plan Date For Re-Certification
                                    <span class="label label-primary pull-right">@Convert.ToDateTime(Model.Employee.PlanRecertificationDate).ToShortDateString()</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            var CertifiactionTracker = DCRSystem.Models.DateConfig.getLastCertified(Model.Employee.Employee_ID);
                            if (CertifiactionTracker != null)
                            {
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>Plan For Re-Certification
                                        <span class="label label-primary pull-right">@DCRSystem.Models.DateConfig.AddOneYear(Convert.ToDateTime(CertifiactionTracker.DateCertified)).ToString("MMMM").ToUpper()</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i> Plan Date For Re-Certification
                                        <span class="label label-primary pull-right">@DCRSystem.Models.DateConfig.AddOneYear(Convert.ToDateTime(CertifiactionTracker.DateCertified)).ToShortDateString()</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>Plan For Re-Certification
                                        <span class="label label-primary pull-right">@DCRSystem.Models.DateConfig.AddOneYear(DateTime.Now).ToString("MMMM").ToUpper()</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i> Plan Date For Re-Certification
                                        <span class="label label-primary pull-right">@DCRSystem.Models.DateConfig.AddOneYear(DateTime.Now).ToShortDateString()</span>
                                    </a>
                                </li>
                            }
                        }
                        var CertifiactionTracker1 = DCRSystem.Models.DateConfig.getLastReCertified(Model.Employee.Employee_ID);
                        if (CertifiactionTracker1 != null)
                        {
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar"></i> Actual Date Re-Certified
                                    <span class="label label-primary pull-right">@Convert.ToDateTime(CertifiactionTracker1.DateRecertified).ToShortDateString()</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar"></i> Actual Date Re-Certified
                                    <span class="label label-danger pull-right">Not Re-Certified</span>
                                </a>
                            </li>
                        }

                    }
                    else
                    {
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i> Plan For Re-Certification
                                <span class="label label-danger pull-right">Not Applicable</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i> Plan Date For Re-Certification
                                <span class="label label-danger pull-right">Not Applicable</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i> Actual Date Re-Certified
                                <span class="label label-danger pull-right">Not Applicable</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h6 class="box-title"><marquee direction="right"><strong>Progress:</strong></marquee></h6>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a>
                            <p><b> Skills Certified: <code>@Model.TotalCertifications.Count() out of @Model.Certifications.Count()</code></b></p>
                            <div class="progress progress-xs active">
                                <div class="progress-bar progress-bar-success progress-bar-striped" id="SC" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            <p><b> Percentage : <code> @Model.PercentAgeCertified%</code></b></p>
                            <p><b>Skills Points : <code> @Model.TotalPointsCertified</code></b></p>
                        </a>
                    </li>
                    <hr style="width: 100%; color: black; height: 1px; background-color:palevioletred;" />
                    <li>
                        <a>
                            <p><b> Skills Re-Certified: <code>@Model.NumberReCertified out of @Model.TotalCertifications.Count()</code></b></p>
                            <div class="progress progress-xs active">
                                <div class="progress-bar progress-bar-danger progress-bar-striped" id="SRC" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            <p><b> Percentage : <code> @Model.PercentAgeReCertified%</code></b></p>
                            <p><b>Skills Points : <code> @Model.TotalPointsReCertified</code></b></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9 connectedSortable">
        <div class="box nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li><a href="#second-tab" data-toggle="tab" id="Page2">Page 2</a></li>
                <li class="active"><a href="#first-tab" data-toggle="tab" id="Page1">Page 1</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i><strong>Employee Progress</strong></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="chart tab-pane active" id="first-tab" style="position: relative; height: auto;">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Certification Code</th>
                                    <th>Description</th>
                                    <th>Point/s</th>
                                    <th>Date Certified</th>
                                    <th>Date Re-Certified</th>
                                    <th>Current Certification</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Certifications.Count() / 2; i++)
                                {
                                    <tr>
                                        <td class="mailbox-subject"><b>@Model.Certifications.ElementAt(i).Code</b></td>
                                        <td>- @Model.Certifications.ElementAt(i).Description</td>
                                        <td>@Model.Certifications.ElementAt(i).Points</td>
                                        @if (Model.MyCertifications.ElementAt(i).DateCertified != null)
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/CertifiedRibbon (2).png" width="25" height="25" />&nbsp; @Convert.ToDateTime(Model.MyCertifications.ElementAt(i).DateCertified).ToShortDateString()</td>
                                        }
                                        else
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/ribbon.svg" width="25" height="25" /></td>
                                        }
                                        @if (Model.MyCertifications.ElementAt(i).DateRecertified != null)
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/ReCertifiedRibbon.png" width="25" height="25" />&nbsp; @Convert.ToDateTime(Model.MyCertifications.ElementAt(i).DateRecertified).ToShortDateString()</td>

                                        }
                                        else
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/ribbon.svg" width="25" height="25" /></td>
                                        }
                                        @if (Model.CurrentCertification != null)
                                        {
                                            if (Model.CurrentCertification.CertificationCode == Model.MyCertifications.ElementAt(i).CertificationCode)
                                            {
                                                <td class="mailbox-attachment">
                                                    <img src="~/Content/img/Ribbons/CurrentRibbon.png" width="25" height="25" />&nbsp;@Model.MyCertifications.ElementAt(i).CertificationCode - @Convert.ToDateTime(Model.MyCertifications.ElementAt(i).DateCertified).ToShortDateString()
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="mailbox-attachment"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td class="mailbox-attachment"></td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <a href="@Url.Action("Details", "IT", new { id = Model.Employee.Employee_ID, urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="fa fa-refresh fa-spin" title="Refresh" style="font-size:25px"></i>
                                </a>
                                <div class="btn-group">
                                    <a href="@Url.Action("ModalCertifiedCertificates","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/CertifiedRibbon (2).png" width="25" height="25" />&nbsp; Certified &nbsp;<small class="label pull-right bg-red-active">@Model.TotalCertifications.Count()</small></a>
                                    <a href="@Url.Action("ModalReCertifiedCertificates","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/ReCertifiedRibbon.png" width="25" height="25" />&nbsp; Re-Certified &nbsp;<small class="label pull-right bg-red-active">@Model.NumberReCertified</small></a>
                                    <a href="@Url.Action("ModelCurrentCertification","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/CurrentRibbon.png" width="25" height="25" />&nbsp; Current Certification &nbsp;<small class="label pull-right bg-red-active">@(Model.CurrentCertification != null ? "1":"0" ) </small></a>
                                    <a href="@Url.Action("ModelNotCertified","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/ribbon.svg" width="25" height="25" />&nbsp; Not yet Certified &nbsp;<small class="label pull-right bg-red-active">@Model.ImNotCertified.Count()</small></a>
                                </div>

                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button onclick="moveLeft()" class="btn btn-default btn-sm"><i class="fa fa-chevron-right" style="font-size:20px"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart tab-pane" id="second-tab" style="position: relative; height: auto;">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Certification Code</th>
                                    <th>Description</th>
                                    <th>Point/s</th>
                                    <th>Date Certified</th>
                                    <th>Date Re-Certified</th>
                                    <th>Current Certification</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = (Model.Certifications.Count() / 2); i < Model.Certifications.Count(); i++)
                                {
                                    <tr>
                                        <td class="mailbox-subject"><b>@Model.Certifications.ElementAt(i).Code</b></td>
                                        <td>- @Model.Certifications.ElementAt(i).Description</td>
                                        <td>@Model.Certifications.ElementAt(i).Points</td>
                                        @if (Model.MyCertifications.ElementAt(i).DateCertified != null)
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/CertifiedRibbon (2).png" width="25" height="25" />&nbsp; @Convert.ToDateTime(Model.MyCertifications.ElementAt(i).DateCertified).ToShortDateString()</td>
                                        }
                                        else
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/ribbon.svg" width="25" height="25" /></td>
                                        }
                                        @if (Model.MyCertifications.ElementAt(i).DateRecertified != null)
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/ReCertifiedRibbon.png" width="25" height="25" />&nbsp; @Convert.ToDateTime(Model.MyCertifications.ElementAt(i).DateRecertified).ToShortDateString()</td>

                                        }
                                        else
                                        {
                                            <td class="mailbox-star"><img src="~/Content/img/Ribbons/ribbon.svg" width="25" height="25" /></td>
                                        }
                                        @if (Model.CurrentCertification != null)
                                        {
                                            if (Model.CurrentCertification.CertificationCode == Model.MyCertifications.ElementAt(i).CertificationCode)
                                            {
                                                <td class="mailbox-attachment">
                                                    <img src="~/Content/img/Ribbons/CurrentRibbon.png" width="25" height="25" />&nbsp;@Model.MyCertifications.ElementAt(i).CertificationCode - @Convert.ToDateTime(Model.MyCertifications.ElementAt(i).DateCertified).ToShortDateString()
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="mailbox-attachment"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td class="mailbox-attachment"></td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <a href="@Url.Action("Details", "IT", new { id = Model.Employee.Employee_ID, urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="fa fa-refresh fa-spin" title="Refresh" style="font-size:25px"></i>
                                </a>
                                <div class="btn-group">
                                    <a href="@Url.Action("ModalCertifiedCertificates","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/CertifiedRibbon (2).png" width="25" height="25" />&nbsp; Certified &nbsp;<small class="label pull-right bg-red-active">@Model.TotalCertifications.Count()</small></a>
                                    <a href="@Url.Action("ModalReCertifiedCertificates","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/ReCertifiedRibbon.png" width="25" height="25" />&nbsp; Re-Certified &nbsp;<small class="label pull-right bg-red-active">@Model.NumberReCertified</small></a>
                                    <a href="@Url.Action("ModelCurrentCertification","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/CurrentRibbon.png" width="25" height="25" />&nbsp; Current Certification &nbsp;<small class="label pull-right bg-red-active">1</small></a>
                                    <a href="@Url.Action("ModelNotCertified","IT",new { id = Model.Employee.Employee_ID , urlBack = ViewBag.URLBack })" class="btn btn-default btn-sm"><img src="~/Content/img/Ribbons/ribbon.svg" width="25" height="25" />&nbsp; Not yet Certified &nbsp;<small class="label pull-right bg-red-active">@Model.ImNotCertified.Count()</small></a>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button onclick="backRight()" class="btn btn-default btn-sm"><i class="fa fa-chevron-left" style="font-size:20px"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="example-modal">
    <div id="myModal" class="modal fade ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Employee Profile</h4>
                </div>

                @if (Model.Employee.Job_Status.ToUpper().Contains("CURRENT"))
                {
                    <div class="modal-body">
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="~/Content/img/user.svg" alt="User profile picture">
                                <h3 class="profile-username text-center">@Model.Employee.Last_Name , @Model.Employee.First_Name</h3>
                                <p class="text-muted text-center">@Model.Employee.Position</p>
                                <a href="#" class="btn btn-primary btn-block"><b>@Model.Employee.Job_Status</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
                    </div>

                }
                else
                {
                    <div class="modal-body">
                        <div class="box box-danger">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="~/Content/img/user.svg" alt="User profile picture">
                                <h3 class="profile-username text-center">@Model.Employee.Last_Name , @Model.Employee.First_Name</h3>
                                <p class="text-muted text-center">@Model.Employee.Position</p>
                                <a href="#" class="btn btn-danger btn-block"><b>@Model.Employee.Job_Status</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@section ViewSpecificJavascript{
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <script type="text/javascript">
       $(window).on('load', function () {
        document.getElementById('SC').style.width = @Model.PercentAgeCertified + "%";
        document.getElementById('SRC').style.width = @Model.PercentAgeReCertified + "%";
        });
        function backRight() {
            $('#Page1').click();
        }
        function moveLeft() {
            $('#Page2').click();
        }
        function ShowProfile() {
            $('#myModal').modal('show');
        }
    </script>
}

