@using PagedList.Mvc
@model PagedList.IPagedList<DCRSystem.Models.newlyEmployee>
@{
    ViewBag.Title = "NewlyEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/PagedList.css")
<form action="/IT/NewlyEmployees">
    <h3><i class="fa fa-users"></i>&nbsp;<strong><font color="sky-blue">Newly Employed</font></strong><small class="label pull-right bg-aqua-active"><input type="search" class="form-control" name="searchInput" placeholder="Search by Lastname/BadgeNo" /></small></h3>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Position</th>
                            <th>Cell</th>
                            <th>Supervisor</th>
                            <th>Progress</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Employee_ID</td>
                                <td>@item.Last_Name , @item.First_Name</td>
                                <td>@item.Position</td>
                                <td>@item.Cost_Center_Description</td>
                                <td>@item.Supervisor</td>
                                <td>
                                    <a href="@Url.Action("Details","IT",new { id = item.Employee_ID,urlBack = "NewlyEmployees" })">
                                        <img src="~/Content/img/Emp_Prog.png" height="30" width="30" class="images" />
                                    </a>
                                </td>
                                <td>
                                    @if (item.Job_Status.ToUpper().Contains("CURRENT"))
                                    {

                                        <a href="@Url.Action("Certified", "IT", new { id = item.Employee_ID, urlBack = "NewlyEmployees" })">
                                            <img src="~/Content/img/Certified.png" title="Certified Employee" height="30" width="30" class="images" />
                                        </a>
                                        <a href="@Url.Action("ReCertified", "IT", new { id = item.Employee_ID, urlBack = "NewlyEmployees" })">
                                            <img src="~/Content/img/ReCertified.png" title="Re-Certified Employee" height="30" width="30" class="images" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="alert('Employee is In-Active')">
                                            <img src="~/Content/img/InActiveCertified.png" title="InActive Employee" height="30" width="30" class="images" />
                                        </a>
                                        <a onclick="alert('Employee is In-Active')">
                                            <img src="~/Content/img/InActiveRecertified.png" title="InActive Employee" height="30" width="30" class="images" />
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div class="clearfix">
            <div class="hint-text pull-left" style="font-size: 18px!important;">Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
            <ul class="pagination pull-right">
                <li> @Html.PagedListPager(Model, page => Url.Action("NewlyEmployees", new { page }))</li>
            </ul>
        </div>
    </div>
</div>
