
@{
    ViewBag.Title = "SearchOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="btn btn-danger btn-block margin-bottom"><i class="fa fa-search text-black"></i> &nbsp;Search Options </a>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title"><strong>Find Certified Employees Through Month</strong></h4>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body no-padding text-center">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <select id="DateControl"  class="dropdown form-control select2" name="Code" style="width: 90%;">
                            @{ String [] months =  System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames;}
                            @for (var iMonth = 0; iMonth <= 12;)
                            {
                                <option value="@months.GetValue(iMonth)"@(DateTime.Now.Month == iMonth+1 ? " selected" : "")>@months.GetValue(iMonth)</option>
                                iMonth++;
                            }
                        </select>
                    </li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title"><strong>Find Employee Through Cell</strong></h4>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body no-padding text-center">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <select class="form-control select2" id="DateControl1" name="Code" style="width: 90%;">
                            <option selected="selected" value="X">-- Select Here --</option>
                            @*@foreach (var i in Model.ImNotCertified)
            {*@
                            <option value="1">Jan</option>
                            <option value="2">Jan</option>
                            <option value="3">Jan</option>
                            <option value="4">Jan</option>
                            @*}*@
                        </select>
                       
                    </li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                @*<h3 class="box-title">Inbox</h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>*@
            </div>
            <div class="box-body no-padding">

                @*<div class="table-responsive mailbox-messages">*@
                    <table class="table table-responsive" id="EmployeeTable">
                        <thead>
                            <tr>
                                <th>BadgeNo</th>
                                <th>Employee Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            
                        </tbody>
                    </table>
                @*</div>*@
            </div>
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.select2').select2();
    $('#DateControl').change(function () {
        var url = '@Url.Action("_DynamicTableBody")';
        url += '?month=' + $(this).val();
        $('#tableBody').load(url);
        @*var url = '@Url.Action("GetEmployeesByMonth")';
        url += '?month=' + $(this).val(); 
        window.location.href = url;*@ 
        @*window.location.href = "@Url.Action("GetEmployeesByMonth", "IT")?month="
            + $(this).val();*@ 
        //var Month = {
        //    Id:37,
        //    Name: $(this).val()
        //};
        //$.ajax({
        //    type: "POST",
        //    url: "/IT/JqAJAX",
        //    data: JSON.stringify(Month),
        //    contentType: 'application/json; charset=utf-8',
        //    success: function (data) {
        //        alert(data.msg);
        //    },
        //    error: function () {
        //        alert("Error occured!!")
        //    }
        //}); 
    })
</script>
<script type="text/javascript">
    jQuery.noConflict();
    //$.noConflict(true)
    $(document).ready(function () {


        $("#EmployeeTable").DataTable(
            {
                "ordering": false
            }
        );
        $('.dataTables_filter input[type="search"]').
            attr('placeholder', 'Search');
        //css({ 'width': '100px', 'display': 'inline-block', 'color': 'red' });
    })
</script>
@section scripts{
    
}


