@using WebHelpers.Mvc5

@if (Session["RoleUser"] != null)
{
    if (Session["RoleUser"].ToString() == "IT")
    {
        <aside class="main-sidebar">
            <section class="sidebar">
                @* BEGIN Menu *@
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("Home", "Home")">
                        <a href="@Url.Action("Home", "Home")"><i class="fa fa-home"></i> <span>Home</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Employee", "IT")">
                        <a href="@Url.Action("Employee", "IT")"><i class="fa fa-users"></i> <span>Employees</span><small class="label pull-right bg-red">@Session["NumberOfEmployees"]</small></a>
                    </li>
                    <li class="@Url.IsLinkActive("NewlyEmployees", "IT")">
                        <a href="@Url.Action("NewlyEmployees", "IT")"><i class="fa fa-users"></i> <span>Newly Employed</span><small class="label pull-right bg-aqua-gradient">@Session["NumberOfNewlyEmployees"]</small></a>
                    </li>
                    <li class="@Url.IsLinkActive("ReCertificationPlan", "IT")">
                        <a href="@Url.Action("ReCertificationPlan", "IT")"><i class="fa fa-edit"></i> <span>Re-Certification Plan</span><small class="label pull-right bg-red">@Session["NumberOfRecertificationPlans"]</small></a>
                    </li>
                    <li class="header"><i class="fa fa-filter"></i> <span><font color="#a64038">&nbsp;Filter Employees</font></span></li>
                    <li class="@Url.IsLinkActive("Active", "IT")">
                        <a href="@Url.Action("Active", "IT")"><i class="fa fa-circle text-green"></i> <span>Active</span><small class="label pull-right bg-green-active">@Session["NumberOfActiveEmployees"]</small></a>
                    </li>
                    <li class="@Url.IsLinkActive("Inactive", "IT")">
                        <a href="@Url.Action("Inactive", "IT")"><i class="fa fa-circle text-bold"></i> <span>Inactive</span><small class="label pull-right bg-gray-active">@Session["NumberOfInactiveEmployees"]</small></a>
                    </li>
                </ul>
                @* END Menu *@
            </section>
        </aside>
    }
    else if (Session["RoleUser"].ToString() == "Approver")
    {
        <aside class="main-sidebar">
            <section class="sidebar">
                @* BEGIN Menu *@
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("Home", "Home")">
                        <a href="@Url.Action("Home", "Home")"><i class="fa fa-home"></i> <span>Home</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("MyCertificate", "Approver")">
                        <a href="@Url.Action("MyCertificate","Approver",new { id = Session["UserId"] })"><i class="fa fa-trophy"></i> <span>My Progress</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Employees", "Approver")">
                        <a href="@Url.Action("Employees", "Approver",new { id = Session["UserId"] })"><i class="fa fa-users"></i> <span>Employees</span><small class="label pull-right bg-green-active">@Session["NumberOfUnderEmployees"]</small></a>
                    </li>
                    <li class="header"><b><font color="#a64038">Active/Inactive Employees</font></b></li>
                    <li><a href="#"><i class="fa fa-circle text-green"></i> <span>Active</span></a></li>
                    <li><a href="#"><i class="fa fa-circle text-bold"></i> <span>Inactive</span></a></li>
                    @*<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
                </ul>
                @* END Menu *@
            </section>
        </aside>
    }
    else
    {
        <aside class="main-sidebar">
            <section class="sidebar">
                @* BEGIN Menu *@
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"></li>
                    <li class="@Url.IsLinkActive("Home", "Home")">
                        <a href="@Url.Action("Home", "Home")"><i class="fa fa-home"></i> <span>Home</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("MyCertificate", "Ordinary")">
                        <a href="@Url.Action("MyCertificate","Ordinary",new { id = Session["UserId"] })"><i class="fa fa-trophy"></i> <span>My Progress</span></a>
                    </li>
                </ul>
                @* END Menu *@
            </section>
        </aside>
    }
}
else
{
    Response.Redirect("/Account/LogOut");
}