@model DCRSystem.DataModel.EmployeeProgressDetails
<div class="" id="DetailsEmp">
    @*<div class="table-responsive mailbox-messages">*@
    <img src="~/Content/img/learlogo.jpg"  width="210" height="63"/>
    <center><h3 class="text-center"><font color="#1f1818">Dailies Certification Card</font></h3></center>
    <p style="color:#1f1818">@Model.FullName ( @Model.EmpBadgeNo )<small style="float:right;padding-right:50px">@DateTime.Now.ToShortDateString()</small></p>

    <table id="DetailsTable" style="border: 1px solid #000000">
        <thead>
            <tr>
                <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Certification Code</th>
                <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Description</th>
                <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:50px">Type</th>
                <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Date Certified</th>
                <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Date Re-Certified</th>
                @*<th>Current Certification</th>*@
                @*<th>Certification Plan</th>*@
                <th style="border: 1px solid #000000 ;color:#000000">Status</th>
                @*<th>Identifier</th>*@
            </tr>
        </thead>
        <tbody id="TableDetails">
            @foreach (var cert in Model.EmployeeCertificates)
            {
                <tr>
                    <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.CertificateCode</font></td>
                    <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.Description</font></td>
                    <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.Type</font></td>
                    <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.DateCertified</font></td>
                    <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.DateRecertified</font></td>
                    <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.Status</font></td>
                </tr>
            }
        </tbody>
    </table>
    @*</div>*@
</div>