@model DCRSystem.CustomViewModel.UrlModel
@{
    ViewBag.Title = "ModalSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
    body {
        font-family: 'Varela Round', sans-serif;
    }

    .modal-confirm {
        color: #636363;
        width: 725px;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            width: 925px;
            height: auto;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .modal-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background-color: transparent;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

            .modal-confirm .icon-box i {
                font-size: 58px;
                position: relative;
                top: 3px;
            }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .cancel {
            color: #fff;
            border-radius: 4px;
            background: #c9302c;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }
        .modal-confirm .print {
            color: #fff;
            border-radius: 4px;
            background: #3f8ac4;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }


            /*.modal-confirm .btn:hover, .modal-confirm .btn:focus {
                background: #6fb32b;
                outline: none;
            }*/

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

    img {
        margin-bottom: 32px;
    }
    
</style>
<script type="text/javascript">
    $(window).on('load', function () {

        $('#myModal').modal('show');
        // $("#TableDetails").DataTable({
        //    processing: true,
        //    serverSide: true,
        //    searchable: true
        //});
    });
</script>
<div>
    <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons"><img src="~/Content/img/PrintSave.png" /></i>
                    </div>
                   
                </div>
                <div class="modal-body">
                    <div class="" id="DetailsEmp">
                        @*<div class="table-responsive mailbox-messages">*@
                            <h3 class="text-center"><font color="#1f1818">Dailies Certification Card</font></h3>
                            <p style="color:#1f1818">@Model.employeeProgress.FullName ( @Model.EmpId )<small style="float:right;padding-right:50px">@DateTime.Now.ToShortDateString()</small></p>
                            
                            <table class="table-bordered" id="DetailsTable" style="border: 1px solid #000000">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Certification Code</th>
                                        <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Description</th>
                                        <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:50px">Type</th>
                                        <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Date Certified</th>
                                        <th style="border: 1px solid #000000 ;color:#1f1818 ;padding-right:20px">Date Re-Certified</th>
                                        @*<th>Current Certification</th>*@
                                        @*<th>Certification Plan</th>*@
                                        <th style="border: 1px solid #000000 ;color:#000000">Status</th>
                                        @*<th>Identifier</th>*@
                                    </tr>
                                </thead>
                                <tbody id="TableDetails">
                                    @foreach(var cert in Model.employeeProgress.EmployeeCertificates)
                                    {
                                        <tr>
                                            <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.CertificateCode</font></td>
                                            <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.Description</font></td>
                                            <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.Type</font></td>
                                            <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.DateCertified</font></td>
                                            <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.DateRecertified</font></td>
                                            <td style="border: 1px solid #000000"><font color="#1f1a1a">@cert.Status</font></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        @*</div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>*@
                    <a href="@Url.Action(Model.URLBack,"IT",new { id = Model.EmpId,urlBack = Model.RedirectUrl })" class="pull-left"><i class="fa fa-arrow-left text-red" style="font-size:20px">Cancel</i></a>
                    <a onclick="Print('DetailsEmp')"><i class="fa fa-print text-black" style="font-size:20px">Print</i></a>
                    <a @*onclick="Print('DetailsEmp')"*@ href="@Url.Action("PrintViewToPdf","Data" ,new { id = Model.EmpId})" class="pull-right"><i class="fa fa-file-pdf-o text-blue" style="font-size:20px">To Pdf</i></a>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="EmployeeID" value="@Model.EmpId" hidden/>
</div>
<script type="text/javascript">
    function Print(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>


