@using PagedList.Mvc
@using DCRSystem.Models
@using DCRSystem.CustomViewModel
@model PagedList.IPagedList<DCRSystem.Models.EmployeeDCR_Vw>

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    lear_DailiesCertificationRequirementEntities lear = new lear_DailiesCertificationRequirementEntities();
    SearchOptionsViewModel model = new SearchOptionsViewModel();

    model.allIds = lear.EmployeeDCR_Vw.Select(emp => emp.Employee_ID).ToList();
    model.allCells = lear.EmployeeDCR_Vw.Select(emp => emp.HRCCell).Distinct().ToList();
    model.Certifications = lear.Certifications.OrderBy(cert => cert.Code).ToList();
    model.allMedals = lear.Medals.ToList();
    model.filters = lear.Filters.ToList();

}
@Styles.Render("~/Content/PagedList.css")
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<style type="text/css">
    .select2-container .select2-selection--single {
        width: 340px;
    }
</style>
<div class="row">
    <div class="col-md-5">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title"><strong>Options</strong></h4>
                <div class="box-tools">
                    <small class="label pull-right bg-red"><i class="fa fa-users"></i>&nbsp; @ViewBag.EmpCount Results</small>
                </div>
            </div>
            <form action="#">
                <div class="box-body text-center">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <div class="form-group d-inline-block">
                                <div class="input-group">
                                   
                                    <select id="Filters" class="form-control select2" name="Month" style="width: 100%;">
                                        @foreach (var filter in model.filters)
                                        {
                                            <option value="@filter.KeyName" @(ViewBag.Type == filter.KeyName ? " selected" : "")>@filter.FilterName</option>
                                        }
                                  </select>                                  
                                </div>
                                <div class="input-group pull-right">
                                    <small class="label pull-right bg-red">@ViewBag.Month &nbsp; @ViewBag.Data</small>
                                </div>
                            </div>
                            <div class="form-group" id="MonthDropdown" hidden>
                                <div class="input-group">
                                    <select id="Month" class="dropdown form-control select2" name="Month" style="width: 100%;">
                                        <option value="X">Select Month</option>
                                        @{
                                            String[] months = System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames;
                                            for (var iMonth = 0; iMonth <= 12;)
                                            {
                                                var val = months.GetValue(iMonth);
                                                <option value="@val">@months.GetValue(iMonth)</option>
                                                iMonth++;
                                            }
                                        }
                                    </select>
                                </div>
                               
                            </div>
                            <div class="form-group" @(ViewBag.Data == "" ? "hidden" : "") id="subFilter">

                                <div class="input-group">
                                    <select id="subFilterBody" class="dropdown form-control select2" name="Month" style="width: 100%;"></select>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3" @*@(ViewBag.Data == "" ? "hidden" : "")*@ hidden id="subFilterff">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title"><strong>Choose</strong></h4>
                <div class="box-tools">
                    <small class="label pull-right bg-red">@ViewBag.Data</small>
                </div>
            </div>
            <form action="#">
                <div class="box-body text-center">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="subFilterBody1" class="dropdown form-control select2" name="Month" style="width: 100%;"></select>
                                    @*<span class="input-group-btn text-black">
                                              <button type="submit" class="btn btn-github btn-flat form-control" style="height:28px;background-color:firebrick"><font color="black">Go!</font></button>
                                        </span>*@

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2" @(ViewBag.Data == "" ? "hidden" : "") id="Go">
        <div class="box-solid" style="background-color:transparent">
            @*<div class="box-header with-border">
                    <h3 class="box-title">Click Here To Continue</h3>
                </div>
                <div class="box-body text-center">
                    <a onclick="filterFunc()" class="btn btn-social-icon btn-bitbucket" style="background-color:#A71717"><i class="fa fa-play"></i></a>
                </div>*@
            <a onclick="filterFunc()" class="btn btn-app" style="background-color:#ffffff">
                <i class="fa fa-play text-green"></i> Continue
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Position</th>
                            <th>HRC Cell</th>
                            <th>Current Cell</th>
                            <th>Assign New Cell</th>
                            <th>HRC Supervisor</th>
                            <th>Current Supervisor</th>
                            <th>Change Supervisor</th>
                            <th>Progress</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Employee_ID</td>
                                <td>@item.Last_Name , @item.First_Name</td>
                                <td>@item.Position</td>
                                <td>@item.HRCCell</td>
                                <td>@item.CurrentCell</td>
                                @if (item.Job_Status.ToUpper().Contains("CURRENT"))
                                {
                                    <td><a class="text-center" title="Assign New Cell" href="@Url.Action("ModalAssignNewCell", "Search", new { IdEmp = item.Employee_ID, HRCell = item.HRCCell, page = Model.PageNumber ,UrlBack = "Filter"})"><i class="fa fa-edit text-red" style="font-size:23px"></i></a> </td>
                                }
                                else
                                {
                                    <td><a class="text-center" title="Assign New Cell" onclick="alert('Cannot Continue Choosen Employee is InActive')"><i class="fa fa-edit text-black" style="font-size:23px"></i></a> </td>
                                }
                                <td>@item.HRCSupervisor</td>
                                <td>@item.CurrentSupervisor</td>
                                @if (item.Job_Status.ToUpper().Contains("CURRENT"))
                                {
                                    <td><a class="text-center" title="Assign New Supervisor" href="@Url.Action("ModalAssignNewSupervisor", "Search", new { IdEmp = item.Employee_ID, HRCell = item.HRCSupervisor, page = Model.PageNumber,UrlBack = "Filter" })"><i class="fa fa-edit text-red" style="font-size:23px"></i></a> </td>
                                }
                                else
                                {
                                    <td><a class="text-center" title="Assign New Supervisor" onclick="alert('Cannot Continue Choosen Employee is InActive')"><i class="fa fa-edit text-black" style="font-size:23px"></i></a> </td>
                                }
                                <td>
                                    <a href="@Url.Action("Details","IT",new { id = item.Employee_ID,urlBack = "Employee" })">
                                        <img src="~/Content/img/Emp_Prog.png" height="30" width="30" />
                                    </a>
                                </td>
                                <td>
                                    @if (item.Job_Status.ToUpper().Contains("CURRENT"))
                                    {

                                        <a href="@Url.Action("Certified", "IT", new { id = item.Employee_ID, urlBack = "Employee" })">

                                            <img src="~/Content/img/Certified.png" title="Certified Employee" height="30" width="30" class="images" />
                                        </a>
                                        <a href="@Url.Action("ReCertified", "IT", new { id = item.Employee_ID, urlBack = "Employee" })">

                                            <img src="~/Content/img/ReCertified.png" title="Re-Certified Employee" height="30" width="30" class="images" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ModalMessage", "IT", new { message =  "Cannot Continue Employee is Inactive", urlBack = "Employee" })">

                                            <img src="~/Content/img/InActiveCertified.png" title="InActive Employee" height="30" width="30" class="images" />
                                        </a>
                                        <a href="@Url.Action("ModalMessage", "IT", new { message =  "Cannot Continue Employee is Inactive", urlBack = "Employee" })">

                                            <img src="~/Content/img/InActiveRecertified.png" title="InActive Employee" height="30" width="30" class="images" />
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
        <div class="clearfix">
            <div class="hint-text pull-left" style="font-size: 18px!important;">Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
            <ul class="pagination pull-right">
                <li> @Html.PagedListPager(Model, page => Url.Action("Filter", new { page, type = ViewBag.Type, data = ViewBag.Data }))</li>
            </ul>
        </div>
    </div>
    <input value="@ViewBag.Type" id="Reminder" hidden />
    <input value="@ViewBag.Data" id="DATA" hidden />
</div>
<script type="text/javascript">
    $('.select2').select2();
     $('#Filters').change(function () {
         var keyName = $(this).val();
         //alert(keyName);
        if (keyName != "All") {
            var url = '@Url.Action("_DynamicFilterBody", "Search")';
            url += '?keyName=' + $(this).val();
            $('#subFilterBody').load(url);
            if (keyName == "ByMonthAndYear") {
                $('#MonthDropdown').show();
            } else {
                $('#MonthDropdown').hide();
            }
            $('#subFilter').show();
            $('#Go').show();
        } else {
            $('#subFilter').hide();
            $('#Go').hide();
            window.location.href = '@Url.Action("Filter","Search")';
        }
    });

    function filterFunc() {
        var MonthForByMonthAndYear = $('#Month').val();
       
        var arr = $('#subFilterBody').val().split('-');
        if (arr[2] === undefined || arr[2] === null) {
            var url = '@Url.Action("Filter", "Search")';
            //alert(arr);
            if (MonthForByMonthAndYear != "X") {
                url += '?Type=' + arr[1] + "-" + MonthForByMonthAndYear + '&Data=' + arr[0];
            } else {
                url += '?Type=' + arr[1] + '&Data=' + arr[0];
            }
            
            // $('#tableBody').load(url);
            var formData = new FormData();
            window.location.href = url;

        } else {
            var dat = arr[0] + "-" + arr[1];
            var url = '@Url.Action("Filter", "Search")';
            url += '?Type=' + arr[2] + '&Data=' + dat;
            // $('#tableBody').load(url);
            var formData = new FormData();
            window.location.href = url;
        }

    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var type = $('#Reminder').val();
        var Data = $('#DATA').val();
        if (type != "" && type != null) {
            var url = '@Url.Action("_DynamicFilterBody", "Search")';
            url += '?keyName=' + type;
            $('#subFilterBody').load(url);
            if (type == "ByMonthAndYear") {
                $("#MonthDropdown").show();
            }
        }
    })
</script>

